[submodule "services/gateway"]
	path = services/gateway
	url = https://github.com/Conxian/gateway.git
[submodule "services/lib-conxian-core"]
	path = services/lib-conxian-core
	url = https://github.com/Conxian/lib-conxian-core.git
[submodule "services/conxian-ui"]
	path = services/conxian-ui
	url = https://github.com/Conxian/Conxian_UI.git
[submodule "services/admin-dashboard"]
	path = services/admin-dashboard
	url = https://github.com/Conxian/admin-dashboard.git
